header {
    width: 100%;
    height: 100%;
    
    .subtitle {
        color: var(--gray-200);
        
        span {
            color: var(--principal-red);
        }
    }

    .title-lg {
        color: var(--gray-100);
    }
    
    .text-sm {
        color: var(--gray-300);
    }
}

#profile {
    max-width: 680px;
    margin: auto;

    margin: 120px auto 80px;
}

#avatar {
    margin-bottom: 56px;
}

.occupation {
    margin-block: 8px 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 16px;

    .svg-nav {
        vertical-align: middle;
        width: 24px;
        height: 24px;

    }

    li {
        font: var(--text-md);
        color: var(--gray-200);
        list-style: none;
        
        background-color: var(--gray-400);
        border-radius: 30px;

        padding: 9px 16px;       
        
    }
}



