main {
    background: scroll;
    background-color: var(--gray-500);

    .subtitle {
        margin-block: 72px 8px;
    }

    .title-md {
        color: var(--gray-100);
    }
}

#projects {
    max-width: 1040px;
    margin-inline: auto;
    margin-bottom: 144px;

    .card {
        border-radius: 8px;
        background-color: var(--gray-400);

        img {
            object-fit: cover;
            margin: 12px 12px 24px;
            width: 306px;

            border-radius: 8px;
        }

    }
    figcaption {
        margin-inline: 12px;
    
        p {
            margin-block: 8px 17px;
        }
    }
}


#services {
    margin-inline: auto;
    padding: 120px;

    background-color: var(--gray-600);

    .card {
        border: 2px solid var(--gray-500);
        border-radius: 12px;
    }

    .svg {
        width: 48px;
        height: 48px;
        margin: 20px;
    }

    figcaption {
        margin-inline: 20px;
        margin-bottom: 20px;
    }

    .grid {
        max-width: 888px;
        margin-inline: auto;
        
    }
}

#contact {
    padding-bottom: 200px;
    .container {
        .text-md {
            margin-top: 8px;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        max-width: 400px;
        margin-inline: auto;

        gap: 16px;
    }
    
    a {
        background-color: var(--gray-400);
        border-radius: 8px;
        
        display: flex;
        justify-content: space-between;
        gap: 12px;        
        
        padding: 20px;
        
        text-decoration: none;
        
        
        .logo {
            width: 28px;
            height: 28px;
            object-fit: cover;
            margin-right: 12px;
        }

        .logo-link {
            display: flex;
            justify-content: center;
            

        }
    
        .arrow {
            width: 20px;
            object-fit: cover;

            display: flex;
            justify-content:space-around;
            
        }
    }
}