ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .svg-nav {
        vertical-align: middle;
        width: 24px;
        height: 24px;

    }

    li {
        font: var(--text-md);
        color: var(--gray-200);
        list-style: none;
        
        background-color: var(--gray-400);
        border-radius: 30px;

        padding: 9px 16px;
        margin: auto 16px;
        
    }
}
