.red path {
    fill: var(--principal-red);
}

.blue path {
    fill: var(--principal-blue);
}

.yellow path {
    fill: var(--principal-yellow);
}

.green path {
    fill: var(--principal-green);
}

.gray-300 path {
    fill: var(--gray-300);
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}