.grid {
    display: grid;
}

.grid-cols-3 {
    gap: 24px;
    grid-template-columns: repeat(3, auto);

}

.red path {
    fill: var(--principal-red);
}

.blue path {
    fill: var(--principal-blue);
}

.yellow path {
    fill: var(--principal-yellow);
}

.green path {
    fill: var(--principal-green);
}

.gray-100 {
    fill: var(--gray-100);
    color: var(--gray-100);
}

.gray-200 {
    color: var(--gray-200);
    fill: var(--gray-200);
}

.gray-300 path {
    fill: var(--gray-300);
    color: var(--gray-300);
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

